.explorercss {
    height: auto;
    width: 100%;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    background: #121212;
    overflow: hidden;
    padding-bottom: 12px;

    position: relative;
}

.heading {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: var(--outfit);
    font-size: 24px;
    font-style: normal;
    max-width: 90%;
    font-weight: 500;
    line-height: 30px; /* 125% */
    letter-spacing: 0.117px;
}
.highlighted {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: var(--outfit);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.117px;
}
.highlight_subheading {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Outfit';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.117px;
}

.inner_card {
    margin: 16px;
    min-height: 60%;
    gap: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #2e2e2e;
    background: #0e0e0e;
    position: relative;
}
.explorer_name {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: var(--outfit);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.117px;
}
.explorer_designation {
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: var(--outfit);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.117px;
}
.remaining {
    color: rgba(255, 255, 255, 0.3);
    font-family: var(--outfit);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.117px;
}

.bend {
    position: absolute;
    width: 100%;
    margin-top: -1.1rem;
    margin-left: 3.3rem;
    z-index: 1000;
}
@media (min-width: 700px) {
    .highlighted {
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        font-family: 'Outfit';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 125% */
        letter-spacing: 0.117px;
    }
    .highlight_subheading {
        color: rgba(255, 255, 255, 0.6);
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        font-family: var(--outfit);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        letter-spacing: 0.117px;
    }
}
