@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--outfit);
    border-radius: 8px;
    max-height: 32px;
}
