.faqtext {
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: var(--outfit);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.117px;
}
